<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cactus.springboot.mysql.batch.mapper.QmItemsMapper">

    <!-- 单条插入 -->
    <insert id="insert" parameterType="com.cactus.springboot.mysql.batch.entity.QmItems" keyProperty="id" useGeneratedKeys="true">
        insert into tbl_qm_items(items_name, create_time, update_time)
        values (#{itemsName}, sysdate(), sysdate())
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into tbl_qm_items(standard_id, items_name, items_score, items_type, use_flag, delete_flag, remark, create_user, create_name,  create_time, update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.standardId}, #{item.itemsName}, #{item.itemsScore}, #{item.itemsType}, #{item.useFlag}, #{item.deleteFlag}, #{item.remark}, #{item.createUser}, #{item.createName}, sysdate(), sysdate())
        </foreach>
    </insert>

</mapper>

